.login_main:hover .login_sub{
    opacity: 1;
    visibility: visible;
}

.login_sub{
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    right: 7%;
    top: 100%;
}